.horizontalScroll {
	overflow-x: auto;
}

.hoverCursor:hover {
	color: red;
	cursor: pointer;
}

.generalButton {
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px 5px;
}

.redBorder {
	border: 1px solid red;
}

.border1 {
	border: 1px solid black;
}

/******
*** Text align side by side image
*******/
.imgHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.imgFrame {
	height: 25px;
	width: 25px;
	text-align: center;
	float: left;
}

.textNextToImg {
	padding: 3px 0 0 0;
	float: left;
}

.imgMiddle {
	vertical-align: middle;
}

.imgFrame:hover {
	cursor: pointer;
}

.generalButton:hover {
	cursor: pointer;
}

.inline {
	display: inline-block;
}

.newLine {
	clear: both;
}

.hidden {
	display: none;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.marginL5 {
	margin-left: 5px;
}

.marginL10 {
	margin-left: 10px;
}

.marginL15 {
	margin-left: 15px;
}

.marginL20 {
	margin-left: 20px;
}

.margin10 {
	margin: 10px;
}

.margin20 {
	margin: 20px;
}