#Config
deploy.properties
build.properties
runtime.properties

#Vivo and Vitro directories
VIVO/
Vitro/


#Build dir
.build/

#Release files
vivo-rel-1.5.1
vitro-data
data
vivo-rel-1.5.1.zip
revisionInfo

#Eclipse
.classpath
.project
.settings
/bin/
