/****************************************************
*** Titles
*****************************************************/

.formTitle {
	margin-bottom : 6px;
	padding : 3px;
	border-bottom : 1px solid;
	display : table;
}

.formTitleInline {
	margin-bottom : 6px;
	padding : 3px;
	display : inline;
}
