/****************************************************
*** Titles
*****************************************************/

#form {
	margin : 10px 30px;
}

.mainFormTitle {
	margin-bottom : 16px;
	padding : 3px;
	border-bottom : 1px solid;
	display : table;
	font-size : 20px;
}

.formTitle {
	margin-bottom : 6px;
	padding : 3px;
	border-bottom : 1px solid;
	display : table;
}

.formTitleInline {
	margin-bottom : 6px;
	padding : 3px;
	display : inline;
}

.subContainer {
	margin-top : 20px;	
	margin-left : 25px;
}