

.addNewContainer{
	border-bottom : 1px solid black;
}

.dataTable {
	
	margin-bottom : 30px;
}

.tableHeader {
	display : table;
	padding : 2px;
}


.tableTitle {
	text-align : center;
	display : inline-block;
	width : 200px;
	font-size : 14px;
}

.literalField {
	display : inline-block;
	margin : 5px;
	width : 200px;
	font-size : small;
}

.literalFieldMiddle {
	text-align : center;
	display : inline-block;
	margin : 5px;
	width : 200px;
	font-size : small;
}

.literalLinkField {
	display : inline-block;
	margin : 5px;
	width : 200px;
	font-size : small;
	text-decoration : underline;
}

literalLinkField:hover{
	cursor : pointer;
}

.linkTableRow {
	display : table;
}

.linkTableRow:hover {
	background-color : #B0B0B0;
	cursor : pointer;
}

.tabContentContainer {
	border : 1px solid #D3D3D3;
	margin : 10px;
	padding : 3px;
	width : 700px;
}