


.dT_elementContainer {
	display : flex;
	align-items : center;
	margin-top: 10px;
}

.flex1 {
	flex-grow : 1;
}

.dt_inlineTitle {
    padding: 5px;
    display: inline-block;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 2px 10px;
}

.dt_title {
    font-style: italic;
    padding: 5px;
    border-bottom: 1px solid black;
    display: table;
    margin: 2px 10px;
}