

.listPoint {
	width: 4px;
	height: 4px;
	border-radius: 3px;
	border: 3px solid;
	margin : 0px 20px;
}

.classNameContainer {
	min-width : 100px;
}

.boneSegmentFieldContainer {
	
	display : flex;
	align-items: center;	
	margin : 4px 10px;
}