

.tabContainerCont {
	display: table;
	
}

.contentContainer{
	display : table;
	padding : 7px;
	border : 1px solid #D3D3D3;	
}


.tabContainer {
	margin-top : 20px;		
	
}

.tab {
	display : inline-block;
	margin : 3px;
	padding : 5px;
	background-color :  #D0D0D0;
}

.tab:hover {
	cursor : pointer;
}

.selectedTab {
	background-color : #FFFFFF;
	border : 1px solid #585858;
}

.selectedTab:hover {
	cursor : auto;
}