
.itemContainer {
	/* border : 1px solid; */
	/* display: flex; */
	display : flex;
	background-color: #ded9d9;
	margin-top: 3px;
}

.itemContainer:hover {
	cursor : pointer;
}

.singleCell {
	text-align : center;
	flex: 1;
}

.tableTitleContainer {
	display : flex;
}

.tableTitleItem {
	flex-grow : 1;
	border-bottom : 1px solid black;
	margin: 3px;
	text-align: center;
}

.dataItem {
	flex-grow : 1;
	margin: 3px;
	text-align: center;
}

