.imgEditOuterContainer {
	margin : 5px;
	width : 650px;
	height : 120px;
}

.boneImageContainer {
	display : inline-block;
	height : 100px;
	margin : 10px 0 10px 10px;
}

.boneImage {
	height : 100px;
	width : auto;
}

.boneImage:hover{
	cursor : pointer;
}