/****
* Show existing bones
****/

.title {
	font-style : italics;	
	padding : 5px;
	border-bottom : 1px solid black;
	display : table;
	margin : 10px;
}



.columnTitle {
	padding : 3px;
	display : inline-block;
	border-bottom : 1px solid black;
	text-align : center;
}

.columnValue {
	padding : 3px;
	display : inline-block
}

.id {
	width : 80px;
}

.type {
	width : 120px;
}

.description {
	width : 260px;
}

.images {
	width : 260px;
}


.valueContainer {
	border : 1px solid white;
	float : left;
	clear : both;
	margin : 5px 0px 0px 0px;
}

.valueContainer:hover{
	border : 1px solid black;
}

/**
*** Tree structure elements
***/
.filterContainer {
	width: 650px; //
	height: 40px;
	border-bottom: 1px solid black;
}

.searchBox {
	display: inline-block;
	width: 200px;
	height: 25px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.classToSelect:hover {
	cursor: pointer;
}

.classNotToSelect {
	color: grey
}

.childrenContainer {
	margin-left: 8px;
}

.treeViewImgContainer {
	vertical-align : middle;
	display : inline-block;
	margin : 3px;
	width : 16px;
}

.imgContainer1 {
	vertical-align : middle;
	display : inline-block;
	margin : 3px;
	width : 16px;
}

.classLabel {
	line-height: 20px;
	display: inline-block;
}

.searchHit {
	font-weight: bold;
}